{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint", "import", "react", "react-hooks"],
  "extends": [
    "react-app",
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:react-hooks/recommended"
  ],
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "rules": {
    "react/react-in-jsx-scope": "off",
    "react/no-unknown-property": "off",
    "quotes": ["error", "double"]
  }
}
